
src/php/*.phpcommented.php
src/php/Setters/*.phpcommented.php
src/php/Uploaders/*.phpcommented.php
src/pkg/*
!src/pkg/base/*
!src/pkg/boilerplate/*
!src/pkg/templater/*
!src/pkg/templater/*
!src/pkg/templaters/*
!src/pkg/utils/*
!src/pkg/boilerplate.sh
!src/pkg/download.sh
!src/pkg/waxed.json

